#ult1 , #ult2 , #ult3
{
    border: 0ch !important;
    margin-left: 0% !important;
    
}



#card1 , #card2 , #card3
{
    width: 30% !important;
    
}

#card1 img , #card2 img , #card3 img

{
height: 200px;
}



